body {
    max-width: 600px;
    margin: 0 auto;
}
.one {
    border: 3px solid blue;
    background-color: pink;
    padding: 32px;
    margin: 12px;
    box-sizing: border-box;
}

.two {
    border: 3px solid purple;
    background-color: lightblue;
}

.three {
    width: 200px;
    border: 3px solid brown;
    background-color: peachpuff;
    padding: 32px;
    margin-top: 48px;
    margin-left: auto;
}